<html>
	<head>
		<% include header %>
	</head>
	<body class="claro">
		<% include p3header %>
		<div class="" style="width:640px;margin-left:auto;margin-right:auto;font-size:1.1em;margin-bottom:10px;margin-top:10px;padding:10px;border: 2px solid #ababab; border-radius: 4px;">
			<p>Username: <%= user.username %></p>
			<p>Name: <%= user.name %></p>
		</div>
		<% include javascript %>
	</body>
</html>
