{
  "http_port": 3002,
  "production": true,
  "mongo": {
    "url": "mongodb://"
  },

  "signingSubjectURL": "http://user.patric.localdev:3002/public_key",
  'signing_PEM': '/config/private.pem',
	'signing_public_PEM': '/config/public.pem',

  "userTokenDuration": 4320,
  "serviceTokenDuration": 4320,
}
