{
  "http_port": 3002,
  "production": true,
  "mongo": {
    "url": "mongodb://"
  },

  "signingSubjectURL": "http://user.patric.localdev:3002/public_key",

  "userTokenDuration": 4320,
  "serviceTokenDuration": 4320,
}
