<html>
	<head>
		<% include header %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
	<% include p3header %>
	Admin	
	<h2>User: <%= request.user.id  %> </h2>
	<h3><%= request.user.name  %></h3>
	<p><%= request.user.email  %></p>
	<% include javascript %>
	</body>
</html>
