		<title><%= (request&&request.local&&request.local.title)?request.local.title:"" %></title>
		<% if (request && request.production) { %>
			<link rel='stylesheet' href='/js/<%- request.package.version %>/dojo/resources/dojo.css' />
			<link rel='stylesheet' href='/js/<%- request.package.version %>/dijit/themes/claro/claro.css' />

		<% } else { %>
			<link rel='stylesheet' href='/js/dojo/resources/dojo.css' />
			<link rel='stylesheet' href='/js/dijit/themes/claro/claro.css' />
		<% } %>

