<!DOCTYPE html>
<html lang="en">
	<head>
		<% include header %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
	<% include p3header %>
	<h2>User: <%= request.user.id  %> </h2>
	<p>Email: <%= request.user.email  %></p>
	<pre>Profile: <%- JSON.stringify(user, null,4) %></pre>
	<% include javascript %>
	</body>
</html>
