<div data-dojo-type="dijit/layout/ContentPane" class="HeaderBar" data-dojo-props="region:'top'">

    <div class="P3Header" style="display: flex">
        <div style="width: 220px;">
            <a href="<%- request.config.get("p3Home") %>">
                <img class="p3LogoImage" src="/js/p3/resources/images/patric_logo_bg.png"/>
                <span class="logo">PATRIC</span>
                <!--<span class="appLabel"><%- request.package.version %><%- request.applicationOptions.appLabel || "" %></span>-->
            </a>
        </div>
        <div style="vertical-align: top; min-width: 435px; flex: 1">
        </div>

        <div class="HideWithAuth authLinks showOnLoad dijitHidden" style="padding: 3px 2px 0 0; width:125px;">
            <a href="/register"><div class="RegistrationButton registrationLink" data-dojo-type="dijit/form/Button">Register</div></a>
            <a href="/login"><div class="LoginButton loginLink" data-dojo-type="dijit/form/Button">Login</div></a>
        </div>

        <div class="showOnLoad ShowWithAuth dijitHidden">
            <div class="showOnLoad ShowWithAuth dijitHidden topMenuButtonIcon"
                 data-dojo-type="dijit/form/DropDownButton" data-dojo-props="iconClass:'icon-user fa-2x'">
                <span></span>
                <div data-dojo-type="p3/widget/TooltipDialog">
                    <div>Signed in as <span id="signedInAs" style="font-weight:bold;"></span>
                        <hr>
                        <div><a class="ShowWithAuth TopMenuLink"
                                href="<%- request.applicationOptions.accountURL %>">Account Settings</a></div>
                        <div><a class="ShowWithAuth TopMenuLink" href="/logout">Logout</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
