<html>
	<head>
		<% include header %>
	</head>
	<body class="claro">
		<div class="RegistrationForm" style="width:640px;margin-left:auto;margin-right:auto;font-size:1.1em;margin-bottom:10px;margin-top:10px;padding:10px;border: 2px solid #ababab; border-radius: 4px;">
			<h2 style="margin:0px;padding:4px;font-size:1.2em;text-align:center;background:#eee;">PATRIC User Registration</h2>
			<p> Your registration has been recieved.  An email has been sent containing the remainder of the registration process. </p>
		</div>
		<% include javascript %>
	</body>
</html>
