<!DOCTYPE html>
<html lang="en">
	<head>
		<% include header %>
	</head>
	<body class="claro">
		<div class="LoginForm" style="width:300px; margin-left:auto;margin-right:auto;font-size:1.1em;margin-bottom:10px;margin-top:10px;padding:10px;border: 2px solid #ababab; border-radius: 4px;">
			<h2 style="margin:0px;padding:4px;font-size:1.2em;text-align:center;background:#eee;">PASSWORD RESET</h2>
			<form method="post" data-dojo-type="dijit/form/Form">
				<div style="padding:2px; margin:10px;">
					<input type="text" name="email"/ data-dojo-type="dijit/form/TextBox" style="width:100%" data-dojo-props='placeholder:"Email Address"'><br/>
				</div>
			
				<% if (error) { %>
					<div style="text-align: center; padding: 2px; margin: 10px; border: 1px solid red; border-radius: 4px;">
						<%= error %>
					</div>	
				<% } %>
				<div style="text-align:center;padding:2px;margin:10px;">
					<div type="submit" value="Submit" data-dojo-type="dijit/form/Button">Reset Password</div>
				</div>
			</form>
		</div>
		<% include javascript %>
	</body>
</html>
