<html>
	<head>
		<% include header %>
	</head>
	<body class="claro">
		<div class="LoginForm" style="width:300px; margin-left:auto;margin-right:auto;font-size:1.1em;margin-bottom:10px;margin-top:10px;padding:10px;border: 2px solid #ababab; border-radius: 4px;">
			<h2 style="margin:0px;padding:4px;font-size:1.2em;text-align:center;background:#eee;">Your Password has been reset</h2>
			<div>Reset Code: <%= request.params.code %> </div>
		</div>
		<% include javascript %>
	</body>
</html>
