<!DOCTYPE html>
<html lang="en">
	<head>
		<% include header %>
	</head>
        <body class="claro">
	        <% include p3header %>
		<table style="width:100%">
			<tbody>
			<tr>
			<% var objMap=[] %>
			<% Object.keys(results.results[0]).forEach(function(key){ %>
				<% objMap.push(key) %>
				<th> <%= key %> </th>	
			<% }) %>
			</tr>
		
			<% results.results.forEach(function(res) { %>
				<tr>
					<% objMap.forEach(function(prop) { %>
						<td> 
							<% if (prop=="id") { %>
								<a href="/user/<%= res[prop] %>"><%= res[prop] %></a>
							<% } else { %>
								<%= res[prop] %> 
							<% } %>
						</td>
					<% }) %>
				</tr>	
			<% }) %>
			</tbody>
		</table>
		<% include javascript %>
	</body>
</html>
